html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d2232a;
}

.container{
    max-width: 1100px;
    background-color: white;
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;

}
.bold{
    font-weight: bold;
}
.main-titulo{
    text-align: center; 
    font-size: 40px;   
}
 h1 span{
    color: #d2232a;
 }


.main-paragraph{
    text-align: center;
    font-style: italic;
    

}

.feature-image{
    text-align: center;
    margin-top: 30px;

}

.biography-container{
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #d2232a;
    border-bottom: 1px dashed #d2232a;
}

.biography-container2{
    padding: 25px 0;
    margin: 25px 0;
    border-bottom: 1px dashed #d2232a;
    
}

.biography-paragraph{
    text-align: justify;
}

.quotes-container{
    background-color: #d2232a;
    padding: 30px;
    
}

.quotes-container blockquote{
    font-weight: bold;
    font-size: 30px;
    

}

.quotes-container p{
    font-style: italic;
}

.curiosities-container{
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #d2232a;
    border-bottom: 1px dashed #d2232a;
}

.curiosities-container li{
    height: 30px;
    text-align: justify;
}

.img-bold{
    text-align: center;
    font-weight: bold;
}

.moreinfo-container{
    padding: 25px 0;
    margin: 25px 0;
    border-bottom: 1px dashed #d2232a;
}

.moreinfo-container a{
    text-decoration: none;
    color: #d2232a;
}




